/* global */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.5s;
    --main-background-color: #ececec;
    --main-padding-top: 30px;
    --main-padding-bottom: 30px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* start main title */
.main-title {
    margin: 50px auto;
    width: fit-content;
    border: 1px solid;
    padding: 15px 30px;
    position: relative;
    transition: all var(--main-transition) ease-in-out;
}

.main-title:hover {
    transition-delay: var(--main-transition);
    border: 2px solid white;
    color: white;

}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    top: 50%;
    transform: translatey(-50%);
    border-radius: 50%;
    z-index: -1;
}

.main-title::before {
    left: -20%;
}

.main-title::after {
    right: -20%;
}

.main-title:hover::before {
    animation: left-move var(--main-transition) linear forwards;
}

.main-title:hover::after {
    animation: right-move var(--main-transition) linear forwards;

}

@keyframes left-move {
    50% {
        left: 0%;
        left: 0%;
        width: 15px;
        height: 15px;
    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}

@keyframes right-move {
    50% {
        right: 0%;
        width: 15px;
        height: 15px;
    }

    100% {
        right: 0;
        border-radius: 0%;
        width: 100%;
        height: 100%;
    }
}

/* end main title */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 550px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global */

/* start navbar */
.navbar {
    box-shadow: 0 1px 15px 0 #ddd;
    position: relative;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: var(--main-transition);
}

.navbar .logo {
    height: 71px;
    display: flex;
    align-items: center;
}

.navbar .logo a {
    font-size: 30px;
    font-weight: bolder;
    color: var(--main-color);
}

.navbar .navlinks {}

.navbar .navlinks>ul {
    display: flex;

}

.navbar .navlinks>ul>li {
    transition: var(--main-transition);
}

.navbar .navlinks li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 2px);
    z-index: 100;
}

.navbar .navlinks>ul>li>a {
    display: flex;
    height: 71px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
    transition: var(--main-transition);
    overflow: hidden;
    position: relative;
}

.navbar .navlinks>ul>li>a::before {
    content: "";
    position: absolute;
    height: 100%;
    border-top: 5px solid var(--main-color);
    top: 0px;
    left: -100%;
    width: 100%;
    background-color: #eee;
    transition: var(--main-transition);
    z-index: -1;
}

.navbar .navlinks>ul>li:hover>a::before {
    left: 0;
}

.navbar .navlinks>ul>li:hover>a {
    color: var(--main-color);
}

@media (max-width: 576px) {
    .navbar .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mega-menu {
    position: absolute;
    width: 95%;
    top: calc(100% + 50px);
    left: 50%;
    z-index: -1;
    background-color: white;
    padding: 30px;
    border-bottom: 5px solid var(--main-color);
    display: flex;
    gap: 50px;
    justify-content: center;
    transform: translatex(-50%);
    border-radius: 15px;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);

}

@media (max-width: 1200px) {
    .mega-menu {
        flex-direction: column;
        gap: 0;
    }

}

.mega-menu .image {
    width: 400px;
    align-self: center;
}

@media (max-width: 992px) {
    .mega-menu .image {
        display: none;
    }
}

.mega-menu .image img {
    width: 100%;
}

.mega-menu .links {}

.mega-menu .links li {
    position: relative;
    overflow: hidden;

}

.mega-menu .links li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    left: -100%;
    z-index: -1;
    transition: all var(--main-transition);
}

.mega-menu .links li:hover::before {
    left: 0;
}

.mega-menu .links li a {
    border-bottom: 1px solid #aaa;
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
}

.mega-menu .links li a i {
    margin-right: 20px;
}

/* end navbar */

/* start landing */
.landing {
    height: calc(100vh - 71px);
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: "";
    position: absolute;
    width: 142%;
    height: 107%;
    background-color: #eee;
    z-index: -1;
    transform: rotateZ(-8deg);
    top: -167px;
    left: -86px;
}

.landing .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100% - 71px);
}

.landing .txt {
    width: 40%;
}

.landing .txt h1 {
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.landing .txt p {
    font-size: 16px;
    line-height: 1.7;
    margin: 13px 0 0 0;
}

@media (max-width: 768px) {
    .landing .txt {
        width: 100%;
        text-align: center;
    }
}

.landing .image {
    width: 60%;
    position: relative;
    animation: top-bottom 5s linear infinite;
}

.landing .image img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .landing .image {
        display: none;
    }
}

.landing.landing a {
    margin: 0 auto;
    position: relative;
    color: var(--main-color-alt);
    animation: arrow 0.8s infinite;
}

/* end landing */

/* start articles */

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.articles .box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 2px #0000001f;
    position: relative;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-15px);
    box-shadow: 0px 4px 8px 2px #0000003d;
}
.articles img {
    max-width: 100%;
}

.articles .content {
    padding: 25px;
    padding-top: 15px;
}

.articles h3 {
    color: #444;
    margin: 0;
    font-size: 24px;
}

.articles p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
}

.articles .info {
    border-top: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}

.articles a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.articles i {
    font-size: 20px;
    margin-right: 10px;
}

.articles .box:hover i
{
    animation: arrow-article var(--main-transition) linear infinite ;
}
/* end articles */

/* start gallery */
.gallery
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--main-background-color);
}
.gallery .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.gallery .box
{
    background-color: white;
    padding: 15px;
}
.gallery .image
{
    position: relative;
    overflow: hidden;
}
.gallery img
{
    max-width: 100%;
    transition: transform var(--main-transition);
}
.gallery .image:hover img
{
    transform: rotate(5deg) scale(1.1);

}
.gallery .box .image::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: rgb(255 2555 255 / 20%);
    z-index: 3;
    opacity: 0;
}
.gallery .box .image:hover::before
{
    animation: flashing 0.5s;
}
/* end gallery */

/* start features */

.features
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: white
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
}
.features .box
{
    border: 1px solid #bbb;
    text-align: center;
}
.features .img-holder
{
    position: relative;
    overflow: hidden;

}
.features .img-holder::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.features .img-holder::after
{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 204px 665px;
    bottom: 0px;
    right: 0;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after
{
    border-width: 0 480px 208px 0;

}
.features img
{
    max-width: 100%;
}
.features h2
{
    width: fit-content;
    font-size: 32px;
    margin-bottom: 5px;
    position: relative;
    margin: 0px auto;
    
}
.features h2::after
{
    content: "";
    position: absolute;
    top: 100%;
    width: calc(100% - 20px);
    height: 3px;
    background-color: red;
    left: 10px;
}
.features p
{
    padding: 15px;
    line-height: 1.7;
    color: #777;
}
.features a
{
    position: relative;
    display: block;
    border: 1px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
    overflow: hidden;
    z-index: 1;
}
.features a::before
{
    content: "";
    position: absolute;
    height: 100%;
    top: 0px;
    left: -100%;
    width: 100%;
    transition: var(--main-transition);
    z-index: -1;
}
.features .box:hover a
{
    color:white;
}
.features .box:hover a::before
{
    left: 0;
}
.quality .img-holder::before
{
    background-color: red;

}
.time .img-holder::before
{
    background-color: rgb(0,150,136);

}
.passion .img-holder::before
{
    background-color: blue;

}
.quality h2::after
{
    background-color: red;
}
.time h2::after
{
    background-color: rgb(0,150,136);
}
.passion h2::after
{
    background-color: #03A9F4;
}

.quality a
{
    border-color: red;
    color: red;
}
.time a
{
    border-color: rgb(0,150,136);
    color: rgb(0,150,136);
}
.passion a
{
    border-color: #03A9F4;
    color:#03A9F4;
}
.quality a::before
{
    background-color: red;
}
.time a::before
{
    background-color: rgb(0,150,136);

}
.passion a::before
{
    background-color: #03A9F4;
}
/* end features */


/* start animation */

@keyframes top-bottom {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        top: 0;
    }
}

@keyframes arrow-article
{
    0%
    {
        transform: translateX(0px);
    }
    100%
    {
        transform: translateX(10px);
    }
}

@keyframes flashing
{
    0%, 50%
    {
        opacity: 1;
    }
    100%
    {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes border
{
    50%
    {
        bottom: 0%;
    }
    100%
    {
        bottom: -50px;
    }
}
/* end animation */